@font-face {
	font-family: "Now";
	font-style: normal;
	font-weight: 700;
	src: url("/assets/fonts/Now-Bold.woff2") format("woff2"), url("/assets/fonts/Now-Bold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Now";
	font-style: normal;
	font-weight: 300;
	src: url("/assets/fonts/Now-Light.woff2") format("woff2"), url("/assets/fonts/Now-Light.woff") format("woff");
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Now", -apple-system, "Lucida Grande", sans-serif;
	font-feature-settings: "ss01" 1, "cv01" 1;
	min-height: 100vh;
	font-size: 16px;
	text-align: center;
}

li, ul {
	list-style-type: none;
}

header {
	font-size: 1em;
	padding: 3em 0 2em;
}

header h1#header-title {
	font-size: 3em;
	font-weight: normal;
}

header h1#header-title img {
	width: 40px;
	filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.3));
}

header #header-links {
	font-size: 1.5em;
}

header #header-links a {
	padding: 0 1em;
	color: blue;
	text-decoration: none;
}

header #header-links a:hover {
	text-decoration: underline;
}

main {
	flex: 1;
	padding: 0 2em;
}

.updates h2 {
	display: block;
	font-size: 1em;
	text-decoration: none;
	font-weight: normal;
	padding-bottom: 3em;
}

ul.updates li:not(:last-child) {
	  margin-bottom: 1.5em;
}

ul.updates li a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 1.5em 1.5em;
}
ul.updates li a:not(:last-child) {
	margin-bottom: 1.5em;
}

ul.updates li a {
	background: rgb(1,1,1,0.08);
/*	background: #eee;*/
}

ul.updates li a:hover {
	background: rgb(1,1,1,0.2);
}

ul.updates li a:hover .title span {
	text-decoration: underline;
}

ul.updates .preview {
	display: block;
	width: 100%;
	margin-bottom: 1em;
}

ul.updates .preview img {
	max-width: 100%;
}

ul.updates .title {
	display: inline;
	font-weight: bold;
}

ul.updates li.music .title::before {
	content: "♫";
}

ul.updates li.writing .title::before {
	content: "✎";
}

ul.updates .title span {
	color: blue;
}

ul.updates .description {
	display: block;
	font-style: italic;
}

.other {
	padding-top: 0.5em;
}

.other h2 {
	font-size: 1em;
	padding-bottom: 1.5em;
}

footer {
	padding: 3em 0;
}

#social {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

#social img {
	width: 40px;
	margin: 0 1em;
}
